.baitap {
  display: flex;
  justify-content: space-between;
}
.tinhtrungbinh {
  width: 30%;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 255, 0.39);
  padding: 10px;
}
.tinhTien,
.DienTich,
.tinhTien,
.tinhluong {
  border: 1px solid rgba(0, 0, 255, 0.24);
  padding: 10px;
}
